
.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
  background-color: #344151;
  flex-direction: column;
}
.title{
  font-size:xx-large ;
  color: rgb(28, 28, 178);
}
.buwr{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
 border-radius: 3px;
background-color:white;
color: #344151;
}
.btn1{
  border-right:2px;
  text-align: center;
  width: 42px;
  border: #bfbfbf;
  font-size: 48px;

}
.reset{
  width:100px;
  height: 50px;
  background-color:  #0398d4;
  color: white;
  padding:3px ;
  font-size: 30px;
}
.value{
  font-weight: 600;
  gap: 20px;
  font-size: 40px;
}